{% extends "base.html" %} {% block content %}
<article>
  <h1>About</h1>
  <section id="overview">
    <h2>概要</h2>
    <p>関根 誠也(Sekine Masaya)</p>
    <p>1994年6月18日生まれ (29歳)</p>
    <p>
      ソフトウェアエンジニア
      <a
        href="https://github.com/masayasekine/skill_sheet/blob/master/skill_sheet.md"
        target="_blank"
        title="skill_sheet"
        >(スキルシート)</a
      >
    </p>
    <p>
      駆け出し競プロer
      <a
        href="https://atcoder.jp/users/springField"
        target="_blank"
        title="springField"
        ><img
          src="https://img.shields.io/endpoint?url=https%3A%2F%2Fatcoder-badges.now.sh%2Fapi%2Fatcoder%2Fjson%2FspringField"
      /></a>
    </p>
    <p>ポーカープレイヤー</p>
    <p>
      <a href="https://enginemaker.space/" target="_blank">EngineMaker</a>
      (東京都新宿区)在住
    </p>
  </section>
  <section id="history">
    <h2>略歴</h2>
    <p>2014/11 - 2017/11: 探偵事務所調査員 (浮気・不倫調査, 素行調査 etc..)</p>
    <p>
      2018/07 - 2021/08: 都内SES企業にてソフトウェアエンジニアとして勤務 (Java)
    </p>
    <p>
      2021/09 - 現在:
      <a href="https://jam-company.co.jp/" target="_blank">株式会社JAM</a>
      にてソフトウェアエンジニアとして勤務 (Java, Python)
    </p>
  </section>
  <section id="features">
    <h2>得意分野</h2>
    <p>Webアプリケーション開発(バックエンド)</p>
    <p>リプレイス開発</p>
    <p>コードレビュー・若手教育</p>
  </section>
  <section id="skills">
    <h2>技術領域</h2>
    <p>Java (SpringBoot)</p>
    <p>Python (Flask, Django, pandas, scikit-learn)</p>
    <p>TypeScript (React)</p>
  </section>
</article>
{% endblock %}
