{% load static %}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Masaya Sekine</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
  </head>
  <body>
    <div id="home">
      <h1>Masaya Sekine</h1>
      <p>software engineer</p>
      <nav>
        <ul>
          <li><a href="/#">Profile</a></li>
          <li><a href="/#">Blog</a></li>
        </ul>
      </nav>
    </div>
  </body>
</html>
