{% load static %}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Masaya Sekine's Portfolio</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
  </head>
  <body>
    <h1>Masaya Sekine's Portfolio</h1>
    <p>Welcome to my portfolio website.</p>
    <nav>
      <ul>
        <li><a href="/#">About Me</a></li>
        <li><a href="/#">Blog</a></li>
      </ul>
    </nav>
  </body>
</html>
